
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.bloco-carros {
    display: grid;
    grid-template-columns: auto auto;
    width: 70%;
    align-items: center;
    background: white;
    justify-items: center;
}

.carros {
    display: flex;
    width: 600px;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    margin: 10px;

    background-color: #111;
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: left;
}

h2 {
    margin: 10px;
    color: white;
}

p {
    color: #b2b2b2;
    margin: 10px;
}

span {
    color: #febe01;
    font-weight: bold;
}

button {
    width: 200px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;

    background-color: #febe01;
    color: #332200;
    font-weight: bold;
}

img{

    width: 300px;
    height: 180px;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid white;
}

.logo{
    width: 100px;
    height: 100px;
    justify-content: left;
    margin-left: 200px;
    border-radius: 100%;
    border: 5px solid #879400;
}

.div-img{
    display: grid;
}

.div-txt{
    display: grid;
    text-align: left;
    padding-left: 50px;
}

.navegacao{
    display: flex;
    gap: 100px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.navegacao div{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.btn-nav{
    width: 200px;
    height: 40px;
    background-color: #879400;
    color: white;
    border: none;
}

/* 320px-480px: dispositivos móveis */
@media screen and (max-width: 480px){

    .navegacao{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .div-btn{
        display: grid !important;;
        grid-template-columns: 1fr 1fr;
        width: 5%;
    }

    .btn-nav{
        width: 150px;
    }
    
    .div-logo{
        display: flex;
        flex-direction: column;
    }

    .logo{
        margin-left: 0;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .listas{
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .carros{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .div-txt{
        margin-right: 150px;
    }
}

/* 481px-768px: iPads, tablets */
@media screen and (min-width: 481px) and (max-width: 768px){
    .navegacao{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0px;
        width: 100vw;
    }

    .div-btn{
        display: grid !important;;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .logo{
        margin-left: 20px;
    }

    .btn-nav{
        width: 150px;
    }

    .listas{
        display: grid;
        grid-template-columns: auto auto;
        width: 100vw;
    }

    .carros{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        align-items: center;
    }
    
    

}